.game-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.game-image {
  min-width: 125px;
  min-height: 125px;
  max-width: 125px;
  max-height: 125px;
  margin: 12.5px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.restart-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: aqua;
  cursor: pointer;
}